:root {
    --neon-blue: #00FFFF; /* текст, кнопки */
    --bright-pink: #FF00FF; /* акценты, границы */
    --acid-green: #39FF14; /* подсветка, детали */
    --purple: #8A2BE2; /* заголовки, фоны */
    --bright-yellow: #FFFF00; /* предупреждения, выделения */
    --orange: #FF4500; /* кнопки, иконки */
    --dark-blue: #00008B; /* фоны, текст */
    --black: #000000; /* основной фон */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif; /* Шрифт в стиле киберпанк */
    list-style: none;
    text-decoration: none;
    transition: all 0.5s;
}

body {
    background-color: var(--black);
    color: var(--neon-blue);
    overflow-y: scroll; /* Всегда отображать вертикальную полосу прокрутки */

}

header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    background: linear-gradient(to right, var(--purple), var(--dark-blue)); /* Градиент для фона */
    border: 2px solid var(--bright-yellow);
    box-shadow: 0 0 15px var(--neon-blue); /* Неоновый эффект */
}

nav {
    margin-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li a {
    padding: 10px;
    font-size: 24px;
    color: var(--neon-blue);
    border: 2px solid var(--bright-pink); /* Ярко-розовая граница */
    transition: background-color 0.5s, color 0.5s;
}

nav ul li a:hover {
    color: var(--acid-green);
    background-color: var(--dark-blue);
    box-shadow: 0 0 10px var(--bright-pink); /* Неоновый эффект при наведении */
}

section {
    margin: 20px 0;
}

section h2 {
    cursor: pointer;
    font-size: 30px;
    margin: 10px 0;
    color: var(--orange);
    border-bottom: 2px solid var(--bright-yellow);
}

section.active h2 {
    color: var(--bright-yellow);
    border-bottom: 2px solid var(--acid-green);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    display: none;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон для содержимого */
    border-radius: 10px;
    box-shadow: 0 0 10px var(--neon-blue); /* Неоновый эффект */
}

footer {
    margin-top: 20px;
    text-align: center;
    color: var(--bright-yellow);
}

/* --------------------------------- timeline */

.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 100%;
    background-color: var(--acid-green);
    z-index: 999;
}

.timeline-item {
    display: flex;
    width: 50%;
    height: 40px;
    padding: 10px;
    margin: 20px 0;
    background-color: var(--dark-blue);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--neon-blue); /* Неоновый эффект */
}

.timeline-item:nth-child(odd) {
    align-self: flex-start;
    border-radius: 10px 0 0 10px;
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
    flex-direction: row-reverse;
    border-radius: 0 10px 10px 0;
}

.skills {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

.skills-item {
    height: auto;
    padding: 5px;
    width: 0;
}

.skills-item_back {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--bright-yellow);
    font-weight: bold;
    text-transform: uppercase;
}

.html { background-color: #04AA6D; } /* Green */
.css { background-color: #2196F3; } /* Blue */
.js { background-color: #f44336; } /* Red */
.python { background-color: #808080; } /* Dark Grey */

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Уменьшение размера шрифта для мобильных устройств */
    }

    header {
        flex-direction: column; /* Упорядочить элементы в колонку на мобильных */
        height: auto; /* Позволить заголовку растягиваться по высоте */
    }

    nav ul {
        flex-direction: column; /* Вертикальное расположение ссылок */
        align-items: center; /* Центрировать ссылки */
        padding: 0; /* Убрать отступы */
    }

    nav ul li a {
        font-size: 20px; /* Уменьшение размера шрифта для ссылок */
        padding: 8px; /* Уменьшение отступов для ссылок */
    }

    section h2 {
        font-size: 24px; /* Уменьшение размера заголовка секции */
    }

    .container {
        width: 90%; /* Уменьшить ширину контейнера на мобильных устройствах */
    }

    .timeline-item {
        width: 90%; /* Увеличение ширины элементов временной линии */
    }

    .skills-item_back {
        margin: 5px; /* Уменьшение отступов между элементами навыков */
    }
}

/* Стили для полосы прокрутки */
::-webkit-scrollbar {
    width: 12px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
    background: #222; /* Цвет фона полосы прокрутки */
}

::-webkit-scrollbar-thumb {
    background-color: #39FF14; /* Цвет ползунка */
    border-radius: 10px; /* Закругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FF00FF; /* Цвет ползунка при наведении */
}